#footer {
  height: 60px;
  background-color: #f5f5f5;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
html,
body {
  height: 100%;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
